/* Creating the board */
.container {
    text-align: center;
    max-width: 800px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}    

#intro {
    margin-top: 80px;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
}
    
section {
    height: 200px;
}

#one {
    background-color: blue;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

#two {
    background-color: green;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

#three {
    background-color: red;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

#four {
    background-color: blue;
    border-right: 5px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

#five {
    background-color: green;
    border: 5px solid black;
}

#six {
    background-color: red;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}

#seven {
    background-color: blue;
    border-right: 5px solid black;
    border-top: 5px solid black;
}

#eight {
    background-color: green;
    border-right: 5px solid black;
    border-top: 5px solid black;
    border-left: 5px solid black;
}

#nine {
    background-color: red;
    border-top: 5px solid black;
    border-left: 5px solid black;
}

p {
    text-align: center;
    font-size: 10rem;
    font-weight: bold;
    margin-top: -20px;
}
/* End of the Board */