table, tr, th, td {
    border: 1px solid black;
}

td {
    text-align: center;
}

h1 {
    text-align: center;
}

th {
    background-color: rgb(73, 72, 72);
    color: white;
}

form {
    margin-top: 60px;
}