.App {
  text-align: center;
}

.header {
  background-color: aquamarine;
  width: 30%;
  margin: auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

button {
  height: 30px;
  width: 60px;
}