.App {
  text-align: center;
}

.header {
<<<<<<< HEAD
  background-color: green;
  width: 40%;
  margin: auto;
  padding: 10px 0;
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
}

button {
  padding: 10px;
  font-size: 20px;
  background-color: black;
  border-radius: 8px;
  color: white;
  width: 80px;
  height: 50px;
  margin-top: 35px;
}

button:hover {
  background-color: red;
=======
  background-color: aquamarine;
  width: 30%;
  margin: auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

button {
  height: 30px;
  width: 60px;
>>>>>>> main
}