#display {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 40px;
    text-align: center;
    padding: 30px;
    background-color: #ccc;
    border-radius: 3px;
}