* {
  margin: 0;
  padding: 0;
}

/*#main {
  border: 4px solid darkgray; */
  /*box-shadow: 5px 4px 10px rgb(190, 189, 189); 
}*/

#gameTitle {
  text-align: center;
  margin: 40px;
}

button {
  border: none;
  background: none;
  padding: 10px 10px;
  text-align: center;
  margin: 0 auto;
  z-index: 5;
}

button img:hover {
  border: 3px solid rgb(194, 63, 3);
  transform: scale(1.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 6;
}

button img {
  width: 50px;
  border-radius: 50%;
  border: 2px solid black;
  z-index: 9;
}

button:focus {
  outline: none;
}

#leftSide {
  height: 400px;
  background-color: green;
  border-right: 6px solid white;
  background-repeat: no-repeat;
  object-fit: cover;
}

#leftSide img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

#rightSide {
  height: 400px;
  background-color: orange;
  border-left: 6px solid white;
  background-image: none;
}

#rightSide img {
  position: center;
  background-position: center;
  background-repeat: 300px;
}
